.navbar-item{
	color: #5A5A5A;
}

.bildirge {
	position:relative;
	top: 0.9rem;
}
.card {
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
	position: relative;
	top: 5px;
}
.navbar-end span{
	padding-right: 0.3rem;
}



